@import url(./template.css);

.product__description.base-padding {
  padding: 0;
  border-radius: 0px;
}

body {
  padding: 0;
}

.hisense-u6kq .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hisense-u6kq img {
  margin: 0;
}

.hisense-u6kq p {
  padding: 0;
  margin: 0;
}

.hisense-u6kq h3 {
  padding: 0;
  margin: 0;
}

.hisense-u6kq ul {
  padding: 0;
}

.hisense-u6kq ul li {
  padding: 0;
}

.hisense-u6kq {
  overflow: hidden;
}

.hisense-u6kq div {
  padding: 0;
  width: initial;
}

.hisense-u6kq br {
  display: block;
}

.product__body .el-tabs__header {
  z-index: 6;
}
