@import url(./template.css);

.product__description.base-padding {
  padding: 0;
  border-radius: 0px;
}

body {
  padding: 0;
}

.hisense-u6kq .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hisense-u6kq img {
  margin: 0;
  width: 100%;
}

.hisense-u6kq p {
  padding: 0;
  margin: 0;
}

.hisense-u6kq h3 {
  padding: 0;
  margin: 0;
}

.hisense-u6kq ul {
  padding: 0;
}

.hisense-u6kq ul li {
  padding: 0;
}

.hisense-u6kq {
  overflow: hidden;
}

.hisense-u6kq div {
  padding: 0;
  width: initial;
}

.hisense-u6kq br {
  display: block;
}

.product__body .el-tabs__header {
  z-index: 6;
}

/* main */

/* HERO */

.hisense-u6kq .hero {
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr 1.4fr;
  background-color: #000;
}
.hisense-u6kq .hero-title-container {
  padding: 32px 16px;
  display: grid;
  grid-template-rows: 1fr 15px;
  gap: 18px;
}
.hisense-u6kq .hero-title {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  background: linear-gradient(90deg, #c99e3e 0%, #f4d786 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  grid-column: 1/3;
}
.hisense-u6kq .hero-title-image {
  height: 15px;
  grid-row: 2/3;
}
.hisense-u6kq .hero-icons-container {
  display: grid;
  column-gap: 18px;
  grid-template-columns: 76px 135px;
}
.hisense-u6kq .hero-image-container {
  background-image: url("https://i.citrus.world/uploads/Haber/Hisense-u6kq/main-image.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.hisense-u6kq .quantum-color {
  background-image: url("https://i.citrus.world/uploads/Haber/Hisense-u6kq/colors.webp");
  padding: 29px 16px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  margin-top: -1px;
}
.hisense-u6kq .quantum-color-container {
  border-radius: 24px;
  padding: 24px;
  display: grid;
  gap: 18px;
  justify-items: center;
  background: rgba(0, 0, 0, 0.63);
}
.hisense-u6kq .quantum-color-title {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #fff;
}
.hisense-u6kq .quantum-color-logo {
  width: 99px;
}

.hisense-u6kq .ai {
  background-color: #191b27;
  padding: 32px 0px 0px 0px;
  display: grid;
  grid-template-rows: 1fr 167px;
}
.hisense-u6kq .ai-title-container {
  display: grid;
  gap: 18px;
  justify-items: center;
}
.hisense-u6kq .ai-logo {
  width: 151px;
}
.hisense-u6kq .ai-title {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  background: linear-gradient(90deg, #c99e3e 0%, #f4d786 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hisense-u6kq .ai-image {
  background-image: url("https://i.citrus.world/uploads/Haber/Hisense-u6kq/ai-main-image.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hisense-u6kq .adaptation {
  padding: 32px 0px 0px 0px;
  background: #564244;
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 157px;
}
.hisense-u6kq .adaptation-container {
  display: grid;
  gap: 18px;
  grid-template-rows: 1fr 27px 17px;
  justify-items: center;
}
.hisense-u6kq .adaptation-title {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  background: linear-gradient(90deg, #c99e3e 0%, #f4d786 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hisense-u6kq .adaptation-icons-white {
  width: 245px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
  justify-items: center;
  align-items: center;
}

.hisense-u6kq .adaptation-icons-colors {
  width: 118px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
  justify-items: center;
  align-items: center;
}

.hisense-u6kq .adaptation-icon-1 {
  width: 125px;
}

.hisense-u6kq .adaptation-icon-2 {
  width: 102px;
}

.hisense-u6kq .adaptation-icon-3 {
  width: 54px;
}

.hisense-u6kq .adaptation-icon-4 {
  width: 46px;
}

.hisense-u6kq .adaptation-image {
  width: 100%;
}

.hisense-u6kq .quality {
  padding: 32px 0px 0px 0px;
  background: #121729;
  display: grid;
  grid-template-rows: 1fr 278px;
  gap: 24px;
}
.hisense-u6kq .quality-container {
  margin-left: 16px;
  display: grid;
  gap: 18px;
}
.hisense-u6kq .quality-title {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  background: linear-gradient(90deg, #c99e3e 0%, #f4d786 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hisense-u6kq .quality-icons-container {
  width: 116px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
}
.hisense-u6kq .quality-icon {
  width: 100%;
}
.hisense-u6kq .quality-icon:nth-child(1) {
  grid-column: 1/3;
}

.hisense-u6kq .quality-icon:nth-child(2) {
  width: 53px;
}

.hisense-u6kq .quality-icon:nth-child(3) {
  width: 46px;
}

.hisense-u6kq .hear-watch {
  padding: 0px 0px 32px 0px;
  display: grid;
  grid-template-rows: 202px 59px;
  background: #000;
}
.hisense-u6kq .hear-watch-image-container {
  background-image: url("https://i.citrus.world/uploads/Haber/Hisense-u6kq/hear-watch-image.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: grid;
  justify-items: center;
}
.hisense-u6kq .hear-watch-container {
  display: grid;
  gap: 16px;
  justify-items: center;
  position: absolute;
  top: 80%;
}
.hisense-u6kq .hear-watch-title {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  background: linear-gradient(90deg, #c99e3e 0%, #f4d786 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hisense-u6kq .hear-watch-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #fff;
}
.hisense-u6kq .hear-watch-icon {
  width: 45px;
}
.hisense-u6kq .hear-watch-bg-black {
  background: #000;
}

.hisense-u6kq .filmmaker {
  background-image: url("https://i.citrus.world/uploads/Haber/Hisense-u6kq/filmmaker.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 247px;
  display: grid;
  justify-items: center;
  align-items: center;
}
.hisense-u6kq .filmmaker-container {
  width: 281px;
  border-radius: 24px;
  padding: 24px;
  background: rgba(0, 0, 0, 0.63);
  display: grid;
  gap: 18px;
  justify-items: center;
  align-items: center;
}
.hisense-u6kq .filmmaker-title {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  background: linear-gradient(90deg, #c99e3e 0%, #f4d786 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hisense-u6kq .filmmaker-icon {
  width: 99px;
}

.hisense-u6kq .game-mode {
  padding: 32px 0px 0px 0px;
  background: #45585f;
  display: grid;
  gap: 24px;
}
.hisense-u6kq .game-mode-container {
  padding: 0px 0px 0px 16px;
  display: grid;
  gap: 18px;
}
.hisense-u6kq .game-mode-title {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  background: linear-gradient(90deg, #c99e3e 0%, #f4d786 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hisense-u6kq .game-mode-description-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #fff;
}
.hisense-u6kq .game-mode-icons-container {
  display: grid;
  grid-template-columns: 66px 45px;
  gap: 18px;
}
.hisense-u6kq .game-mode-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #fff;
}

.hisense-u6kq .sport-emotion {
  padding: 32px 0px 0px 0px;
  background: #091018;
  display: grid;
  gap: 24px;
}

.hisense-u6kq .sport-emotion-container {
  padding: 0px 0px 0px 16px;
  background: #091018;
  display: grid;
  gap: 18px;
}
.hisense-u6kq .sport-emotion-title {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  background: linear-gradient(90deg, #c99e3e 0%, #f4d786 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hisense-u6kq .sport-emotion-icon {
  width: 131px;
}

.hisense-u6kq .ai-optimisation {
  padding: 32px 0px 0px 0px;
  background: #000;
}
.hisense-u6kq .ai-optimisation-container {
  display: grid;
  gap: 18px;
  justify-items: center;
}
.hisense-u6kq .ai-optimisation-title {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  background: linear-gradient(90deg, #c99e3e 0%, #f4d786 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hisense-u6kq .ai-optimisation-icon {
  width: 156px;
}

.hisense-u6kq .ezplay {
  padding: 32px 0px 0px 0px;
  background: #787272;
  display: grid;
  gap: 24px;
}
.hisense-u6kq .ezplay-container {
  padding: 0px 0px 0px 16px;
  display: grid;
  gap: 18px;
}
.hisense-u6kq .ezplay-title {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  background: linear-gradient(90deg, #c99e3e 0%, #f4d786 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hisense-u6kq .ezplay-icon {
  width: 47px;
}

.hisense-u6kq .os-vidaa {
  padding: 32px 0px 0px 0px;
  background: #000;
  display: grid;
  gap: 24px;
}
.hisense-u6kq .os-vidaa-container {
  padding: 0px 0px 0px 16px;
  display: grid;
  gap: 18px;
}
.hisense-u6kq .os-vidaa-icon {
  width: 72px;
}
.hisense-u6kq .os-vidaa-title {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  color: #fff;
}
